<div #top>
  <div class="container">
    <app-nav></app-nav>
    <app-mini-card
      [introSection]="true"
      [company]="'International Copyright Enterprise & Stage Enterprises'"
      [companies]="'ICE'"
      [background]="'ICE was established by the music societies PRS, STIM and GEMA to facilitate collaboration between music
  societies, music publishers and digital service providers (e.g. Spotify, Apple Music, Youtube etc).'"
      [projectOverview]="'I was involved in the AV Project, which focuses on the use of music in audiovisual productions - such as
  films and TV series. Our team worked to create a “Master Data Management” system for collecting, storing and
  sharing audiovisual data. The high-level purpose of this system is to ensure that composers and
    songwriters
    are accurately paid for the use of their works in AV productions.'"
      [role]="'Junior Frontend Developer'"
      [teamTitle]="'Frontend Team'"
      [team]="'Christian Porzig'"
      [duration]="'07/17-04/19'"
      [imgSrc]="'assets/images/design-ice-1.png'">
      <p> I worked both remotely and on-site in Berlin for ICE, for <b>20hrs/per week</b>, whilst simultaneously
        completing a degree in History at the University of York.
        <br>
        In April 2019, the project was outsourced from ICE to Stage Enterprises. I then worked for Stage entirely
        remotely until April 2020, when I finished working on the project in
        order to complete my final exams.
      </p>
    </app-mini-card>
  </div>
</div>
<div
  class="panel-blue">
<div class="container">

  <h3 class="pt-4"><b>UI & UX Process</b></h3>
  <h4 class="mt-2">1. Identify Common User Actions or “User Scenarios” and Create Storyboards
  </h4>
  <p><b>Example: “a user wishes to match a production with the correct match from a list of possible candidates”
    </b></p>
  <div class="row flex-row">
    <div class="col-12">
      <img class="img-fluid"
        src="assets/images/task6.svg">
    </div>
    <!-- <div class="col-6"></div> -->
  </div>
  <div class="row">
    <div class="col-12">
      <p>After conducting interviews with users and reading through the system
        requirements
        documentation,* we identified simple “user scenarios” that detailed key actions a user might perform.

        From these “user scenarios,” I created basic wireframes (above), in order
        to
        determine how, when and where certain information should be displayed. <br><br><small><i>*Although we
            worked
            as an Agile
            Scrum
            team, the project was initially set up following a “waterfall” approach.</i></small>
      </p>
    </div>
  </div>
</div>
</div>
<div class="panel-light">
  <div class="container">
    <div class="pt-4">
      <h4>2. Create Prototypes & Present to Customers</h4>
      <p class="pt-2">Using these very basic wireframes and insights gained from user interviews, I created
        prototypes
        of screens
        using
        Sketch.

        In the process, we identified design questions and challenges, which we documented, proposed
        potential solutions for, and presented to our customers.<br><br>
        <span class="h6 light"><i>–EXAMPLE DOCUMENTATION</i></span>
    </div>
    <div class="row flex-row mt-4 justify-content-between">
      <div class="col-4">
        <span>
          <h6><b>Scenario</b></h6>
          <p>"A user wishes to match a production with the correct match from a list of possible
            candidates.” (example continued)</p>
        </span>
        <span>
          <h6 class="pt-2"><b>Basic Approach</b></h6>
          <p>Our basic idea for the match conflict user interface is to show the most
            relevant
            information
            of the conflicting production on the left-hand side and a list of the candidates on the right-hand side.
            <br><br>Additionally, there needs to be one button for linking the production to the candidate, as well
            as
            one
            button
            for creating a new production instead.<br><br> However, this solution raises several questions and
            challenges...</p>
        </span>
      </div>
      <!-- <div class="row no-gutters"> -->
      <!-- <div class="col-1"></div> -->
      <div class="col-8 align-self-start pb-5 pl-5">
        <img class="img-fluid"
          src="assets/images/design-ice-2.png">
      </div>
      <!-- <div class="col-1"></div> -->
    </div>
  </div>
</div>
<div class="panel-light">
  <div class="container">
    <div class="row flex-row pt-1 no-gutters">
      <div class="col-6 pr-4">
        <p><b>Challenges & Proposed Solutions</b></p>
        <p>
          <i>Problem:</i> with a long list of candidates, the last one might be placed with some
          distance from the actual production, making it might be hard to compare the values.
        </p>
      </div>
      <div class="col-6 align-self-end pl-4">
        <p>
          <i>Problem:</i> when the user needs to compare more data fields, the simple view becomes insufficient. How
          can more details
          be displayed on demand?
        </p>
      </div>
    </div>
    <div class="row flex-row no-gutters">
      <div class="col-6 pr-4">
        <p><i>Solution:</i> whenever the user selects a candidate the original production is moved and aligned next
          to
          in. In order to maintain the object tracking of the user, this is done with an animated transition (see
          below).
        </p>
      </div>
      <div class="col-6 align-self-start mb-3 pl-4">
        <p><i>Solution:</i> there is a “more” button that collapses further production details on demand (see
          below).
        </p>
      </div>
    </div>
    <div class="row flex-row pb-4">
      <div class="col-6"> <img class="img-fluid pr-4"
          src="assets/images/design-ice-3.gif">
        <span class="small"><i>I created this animation using the AnimateMate plugin for Sketch.</i></span></div>
      <div class="col-6 align-self-start"> <img class="img-fluid pr-4"
          src="assets/images/design-ice-4.png "></div>
    </div>
  </div>
</div>
<div class="panel-blue">
  <div class="container">
    <div class="row flex-row pt-4 no-gutters">
      <h4>3. Develop the Components & Get Feedback from Users</h4>
      <div class="col-6 pt-3">
        <p>We then developed the components deployed them for testing, taking feedback from users. We identified
          bugs that needed to be fixed, as well as enhancements that should be carried out.<br><br></p>
      </div>
      <div class="col-6 text-center align-self-start pt-4"><button (click)="onClick('develop')"
          class="btn-secondary btn-large"> Check Out My
          Development Work <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row flex-row pt-5 justify-content-center">
      <div class="col-6 card reflections-ui-card mt-5 p-1">
        <h3 class="ui pt-3 text-center"><b>Reflections <i class="fa fa-smile-o"></i></b></h3>
        <div class="p-3">
          <span>My experience at ICE and Stage was incredibly rewarding. From working in an entirely new city
            (Berlin),
            to
            tackling difficult design decisions and having to quickly learn new technologies, I was constantly
            pushed
            to
            the edge of my comfort
            zone and learnt a vast amount in the process.
          </span>
        </div>
        <h4 class="text-left pl-3 ui">Key Learnings</h4>
        <span>
          <ul>
            <li>
              <p><b>Data Visualisation</b> - Schneiderman's mantra: "Overview first, zoom and filter, then
                details on demand." We used this to guide our design decisions. </p>
            </li>
            <li>
              <p><b>Tools and Technologies</b> - I frequently used Sketch. I was also introduced to the highly
                useful
                Adobe Colour Picker tool and the Bootstrap CSS Framework. </p>

            <li>
              <p><b>Responsive Design</b> - Amongst my "user stories" was to ensure every page we created was
                responsive, using flex grids and layouts and media queries.</p>
            </li>
            <li>
              <p><b>Time-Management</b> - as I spent 20hrs/week on the project whilst completing my (full-time)
                History degree, I greatly
                developed my ability to effectively manage my time and to work efficiently. I turn, I had loads of
                time
                leftover to spend having fun with my friends and <a class="pointer"><u>learning new things.</u></a>
              </p>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="row flex-row justify-content-end pt-5">
    <div class="col-3 text-right mr-3">
      <h6 class="pointer"> <span
        (click)="onClick('design')"> Back to Design <i class="fa fa-chevron-up"></i>
          </span> | <span
          (click)="onClick('complements-only')"> Next Project <i class="fa fa-chevron-right"></i></span></h6>
    </div>
  </div>
</div>
