h1 {
  font-size: 58px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Helvetica Neue', sans-serif;

}

.card-title {
  color: rgb(20, 20, 20);
  font-size: 22px;
  margin-bottom: 0;
}

.card {
  background-color: #F5F5F5;;
  border-color:  rgb(228, 227, 227);;
}

.reflections-ui-card {
  border-color: #699EBF;
  background-color:  rgb(255, 255, 255);
}

.card-body {
  color: #5C5C5C;
}

.dark{
  color: rgb(20, 20, 20);
}

.full-height {
  height: 100vh;
}
