h1 {
  font-size: 58px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Helvetica Neue', sans-serif;

}

.blue {
  color: #3f96ca
}

.card {
  background-color: #F5F5F5;;
  border-color:  rgb(228, 227, 227);;
}

.findings-icons {
height: 100px;
margin-bottom: 1rem;
}
