<div class="container-820">
  <div class="row flex-row mt-5"
    *ngIf="introSection">
    <div class="col-6"
      *ngIf="introSection">
      <h2><b>{{company}}</b></h2>
      <h4 *ngIf="background"
        class="mt-3">Background to {{companies}}</h4>
      <p>{{background}}
      </p>
      <div *ngIf="projectOverview">
      <h4
        class="pt-3">Project Overview</h4>
      <p>{{ projectOverview}}</p>
    </div>
    <div *ngIf="!projectOverview">
      <h4 class="pt-3">My Involvement</h4>
      <ng-content select="p"></ng-content>
    </div>
    </div>
    <div class="col-6 align-self-end">
      <img class="img-fluid"
        src="{{imgSrc}}">
    </div>
    <div class="col-12" *ngIf="projectOverview && myInvolvement">
    <h4 class="pt-3">My Involvement</h4>
    <ng-content select="span"></ng-content>
  </div>
  </div>
  <div class="row flex-row card mb-5 mt-5">
    <div class="col-4 text-center">
      <b>Role</b><br>
      {{role}}
    </div>
    <div class="col-4 text-center">
      <b>{{ teamTitle}} </b><br>
      {{team}}<br>
      Annabel Hayes
    </div>
    <div class="col-4 text-center">
      <b>Duration</b><br>
      {{duration}}
    </div>
  </div>
</div>
