h1 {
  font-size: 58px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Helvetica Neue', sans-serif;

}
.web {
  /* color:rgba(129, 129, 129, 0.667); */
  color:#5C5C5C;
}

.light {
  color: #5C5C5C;
}

.darker {
  color: rgb(65, 64, 64);
}

.card {
  background-color: #F5F5F5;;
  border-color:  rgb(228, 227, 227);;
}

.dark{
  color: rgb(41, 41, 41);
}

.panel-light {
  background-color:#F5F5F5;
}

.panel-blue {
  background-color: #C2E0F2;
}


.reflections-web-card {
   border-color:#AAAA;;
   background-color:#F5F5F5;
}

.card-dotgo2 {
  background-color:rgb(247, 255, 251);
  opacity: 0.9;
}

.icon-card {
  background-color: #C2E0F2;
  border-color:#AAAA;
  height: 170px;
  width:170px;
}

.padding-5 {
  padding-top: 5%;
}


.ui {
  /* color:  #D95555; */
  color: #699EBF

}
