<div #top
  class="pt-2">
  <div class="container">
    <app-nav></app-nav>
    <app-mini-card [introSection]="true"
      [company]="'DotGO'"
      [companies]="'DotGO'"
      [background]="'DotGo is a website builder, offering web design services to businesses throughout the UK.'"
      [duration]="'07/16 - 09/16'"
      [role]="'Sales Rep and Website Designer'"
      [team]="'Yass Sharif'"
      [teamTitle]="'Team'"
      [imgSrc]="'assets/images/design-dotgo-1.png'">
      <p>I joined DotGo (at the time called Reason8) for a 2 month contract in summer 2016, before I went to
        university. My role
        encompassed Sales, Account Management and Web Design. <br><br>
        I returned to DotGo in 2019 for a 3 month contract as a Content Writer <a (click)="scrollToElement(dotgo2)"
          class="pointer"><u>(see below)</u></a></p>
    </app-mini-card>
  </div>
</div>
<div class="mt-5 panel-blue">
  <div class="container">
    <div clas="container-820">
      <div class="row flex-row justify-content-between mt-5">
        <div class="col-12">
          <h4 class="mt-5">Responsibilities</h4>
        </div>
      </div>
      <div class="row flex-row mt-4 text-center justify-content-between">
        <div class="col-4">
          <div class="row flex-row justify-content-center">
            <div class="col-6">
              <span class="h5 web card icon-card p-3 shadow-sm">
                <i class="fa fa-phone fa-2x">
                </i><br>Sales
              </span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row flex-row justify-content-center">
            <div class="col-6">
              <span class="h5 web card icon-card p-3 shadow-sm">
                <i class="fa fa-sitemap fa-2x">
                </i><br>Design
              </span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row flex-row justify-content-center">
            <div class="col-6">
              <span class="h5 web card icon-card p-3 shadow-sm">
                <i class="fa fa-edit fa-2x">
                </i><br>Build
              </span>
            </div>
          </div>
        </div>
        <div class="row flex-row mt-4">
          <div class="col-4 mt-2">
            <ul>
              <p class="dark">
                <li>I called existing clients and encouraged them to migrate their websites to our new, premium software
                  platform.</li>
                <li>
                  Success ultimately relied on me relaying to customers why great ui & ux, alongside engaging content,
                  is
                  essential for every type of
                  business.
                </li>
              </p>
            </ul>
          </div>
          <div class="col-4 mt-2">
            <ul>
              <p class="dark">
                <li>I carried out interviews to gain an in-depth understanding of each client’s business, what content
                  they would like producing and what their design
                  aspirations were.
                </li>

              </p>
            </ul>
          </div>
          <div class="col-4 mt-2">
            <ul>
              <p class="dark">
                <li>
                  I used DotGo’s website builder to create clients more professional-looking, SEO-optimised and modern
                  websites.
                </li>
                <li> After revealing client’s new websites, I provided any amendments
                  they required.
                </li>
              </p>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <h4 class="mt-3">Feedback</h4>
          <p>I was very proud that for the majority of my clients, any amendments that were required after the site was
            built were either small or non-existent. I also surpassed my sales targets.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div #dotgo2>
  <div class="container">
    <div class="row flex-row justify-content-between pt-3">
      <div class="col-12">
        <h2><b>DotGo</b></h2>
        <h4 class="mt-3">Return to DotGo in 2019</h4>
        <p>As the company expanded, operations were split into: Sales, Digital Design and Content Writing, with
          dedicated personnel for each role.
          I returned to DotGo in 2019 for a 3 month contract as a Content Writer, before spending a few amazing months
          skiing.
        </p>
      </div>
    </div>
    <app-mini-card
    [introSection]= "false"
    [role]="'Content Writer'"
    [teamTitle]="'Content Team'"
    [team]="'Nick Stallard'"
    [duration]="'10/19 - 01/20'">
  </app-mini-card>
    <div class="row flex-row mb-2 no-gutters">
      <div class="col-6">
        <h4 class="mt-3">Role</h4>
        After reading through client’s and designer’s notes in a shared data area, I called clients’ and carried out a
        detailed content consultation. I then wrote up their content, aiming for 350-500 words/page and interweaving
        key
        primary and secondary SEO phrases throughout.<br><br>
        <b>Key Requirements</b>
        <ul>
          <li>
            Create a consistent “voice” which runs throughout client's content, which fits their business
            and would appeal to potential customers.
          </li>
          <li>Detailed
            analysis of what made each client's business unique and how to sell it.</li>
          <li>
            Research into competitors to gain ideas about the structure and form of the content.
          </li>
        </ul>
      </div>
      <div class="col-6">
        <img class="img-fluid"
          src="assets/images/content-ex.png">
      </div>
    </div>
    <div class="pb-3">
      <h4 class="mt-3">Examples</h4>
      <div class="row flex-row mb-2 mt-1 no-gutters">
        <div class="col-4 text-left">
          <a href="https://www.thebellinnanslow.co.uk/"
            class="pointer dark">
            <u>The Bell Inn Anslow (Pub)</u>
            <i class="ml-2 web fa fa-external-link"></i>
          </a>
        </div>
        <div class="col-4 text-center">
          <a class="pointer"
            href="https://www.optionz.info/"
            class="pointer dark">
            <u>Optionz (Property Investment)</u>
            <i class="ml-2 web fa fa-external-link"></i>
          </a>
        </div>
        <div class="col-4 text-right">
          <a href="https://www.olleywastemanagement.co.uk/"
            class="pointer dark">
            <u>Olley Waste Management</u>
            <i class="ml-2 web fa fa-external-link"></i>
          </a>
        </div>
      </div>
      <small>Please note, I did not design these websites, I just produced the written content. This content may have
        been altered slightly by clients since - so basically, if you spot anything that doesn’t sound right, please
        assume it was not me… ;)
      </small>
    </div>
  </div>
</div>
<div  class="panel-blue">
  <div class="container">
    <div class="row flex-row pt-5 justify-content-center">
      <div class="col-6 card reflections-web-card mt-3 p-1 shadow">
        <h3 class="web pt-3 text-center"><b>Reflections <i class="fa fa-smile-o"></i></b></h3>
        <div class="p-3">
          <span>Working at DotGo gave me with great introduction to Web Design, Marketing, SEO and Copyrighting.
          </span>
        </div>
        <h4 class="text-left pl-3 web">Key Learnings</h4>
        <span>
          <ul>
            <li>
              <p><b>Clear Vision</b> - I learnt the importance of establishing a clear, shared vision with each
                client, in order to ensure clients were always satisfied with the end result of their websites.</p>
            </li>
            <li>
              <p><b>DotGo System</b> - I had to rapidly come to terms with the DotGo website building system, in order
                to build at the appropriate pace. I strongly belive that learning new things efficiently, is a skill
                that is enhanced through practise.</p>

            <li>
              <p><b>Marketing</b> - Especially whilst Content Writing, I took on a Marketing role, writing with
                empathy and deploying attention-grabbing phrases to appeal to potential customers.
              </p>
            </li>
            <li>
              <p><b>SEO</b> - In the Frontend, with key search phrases and in the Backend, by adding meta tags to
                images, I became familiar with SEO practises throughout both Dotgo roles.
              </p>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="row flex-row justify-content-end pt-1 pb-3">
    <div class="col-3 text-right mr-3">
      <h6 class="pointer"> <span
        (click)="onClick('complements-only')"><i class="fa fa-chevron-left"></i> Previous Project
          </span> | <span
          (click)="onClick('design')"> Back to Design <i class="fa fa-chevron-up"></i></span></h6>
    </div>
  </div>
</div>
<!-- </div> -->
