<div #top
  class="pt-2">
  <div class="container">
    <app-nav></app-nav>
    <app-mini-card [introSection]="true"
      [company]="'DotGO'"
      [companies]="'DotGO'"
      [background]="'DotGo is a website builder, offering web design services to businesses throughout the UK.'"
      [duration]="'07/16 - 09/16'"
      [role]="'Sales Rep and Website Designer'"
      [team]="'Yass Sharif'"
      [teamTitle]="'Team'"
      [imgSrc]="'assets/images/dotgo.png'">
      <p>I joined DotGo (at the time called Reason8) for a 2 month contract in summer 2016, before I went to
        university. My role
        encompassed Sales, Account Management and Web Design. <br><br>
        I returned to DotGo in 2019 for a 3 month contract as a Content Writer <a (click)="scrollToElement(dotgo2)"
          class="pointer"><u>(see below)</u></a></p>
    </app-mini-card>
  </div>
</div>
<div class="mt-5 panel-blue full-height">
  <div class="container">
    <div clas="container-820">
      <div class="padding-5">
        <div class="row no-gutters">
          <div class="col-12 mb-4 text-md-left text-center">
            <h3 class="pb-3"><b>UI & UX Process</b></h3>
            <div class="h-custom mb-3"><i>––CHALLENGE</i></div>
            <p>to produce new, modern, SEO-optimised websites for existing clients that would:</p>
            <ol>
              <li>
                <p>
                  appeal to their users, with the capacity to <b>convert more potential customers into actual
                    customers</b>,</p>
              </li>
              <li>
                <p>
                  fulfill each client's own design vision and aspirations.</p>
              </li>
            </ol>
          </div>
        </div>
        <app-icon-row
        [iconRow]="[
        { title: 'Sale', description: 'Called existing clients and sold them new websites.' },
        {
          title: 'Research', description: 'Carried out client interviews & analysed competitors.'
        },
        {
          title: 'Design', description: 'Planned out the site-map, images and colours.'
        },
        {
          title: 'Build', description: 'Built the site over a few days using the DotGO system.'
        },
        {
          title: 'Evaluate', description: 'Revealed website & made any requested changes.'
        }]
        ">
      </app-icon-row>
        <div class="row mt-4 flex-row text-center justify-content-between align-items-stretch">
          <div class="col-12 text-md-left text-center">
            <div class="h-custom mb-3"><i>––RESULTS</i></div>
            <p>I was proud that most clients required very little, if any, amendments.
              I found that dedicating a lot of time to the "Research" stage, especially analysis of competitor's
              websites,
              was crucial for success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div #dotgo2>
  <div class="container">
    <div class="row flex-row mt-4 mb-2 no-gutters">
      <div class="col-md-6 col-12 text-center text-md-left">
        <h4 class="mt-5">Return to DotGO in 2019</h4>
        <p> As the company expanded, operations were split into: Sales, Digital Design and Content Writing, with
          dedicated personnel for each role.
          I returned to DotGo in 2019 for a 3 month contract as a Content Writer.
        </p>
        <h4 class="mt-4">Content Role</h4>
        <p> After reading through client’s and designer’s notes in a shared data area, I called clients’ and carried out
          a
          detailed content consultation. I then wrote up their content, aiming for 350-500 words/page and interweaving
          key
          primary and secondary SEO phrases throughout.</p>
      </div>
      <div class="col-md-6 col-12">
        <img class="img-fluid"
          src="assets/images/content-ex.png">
      </div>
    </div>
    <app-mini-card [introSection]="false"
      [company]="'DotGO'"
      [companies]="'DotGO'"
      [role]="'Content Writer'"
      [teamTitle]="'Content Team'"
      [team]="'Nick Stallard'"
      [duration]="'10/19 - 01/20'">
    </app-mini-card>
    <div class="pb-5">
      <h4 class="mt-3">Examples</h4>
      <div class="row flex-row mb-2 mt-1 no-gutters">
        <div class="col-4 text-left">
          <a href="https://www.thebellinnanslow.co.uk/"
            class="pointer dark">
            <u>The Bell Inn Anslow (Pub)</u>
            <i class="ml-2 web fa fa-external-link"></i>
          </a>
        </div>
        <div class="col-4 text-center">
          <a class="pointer"
            href="https://www.trx-international.com"
            class="pointer dark">
            <u>TRX International (Recruitment)</u>
            <i class="ml-2 web fa fa-external-link"></i>
          </a>
        </div>
        <div class="col-4 text-right">
          <a href="https://www.olleywastemanagement.co.uk/"
            class="pointer dark">
            <u>Olley Waste Management</u>
            <i class="ml-2 web fa fa-external-link"></i>
          </a>
        </div>
      </div>
      <small>Please note, I did not design these websites, I just produced the written content. This content may have
        been altered slightly by clients since.
      </small>
    </div>
  </div>
</div>
<div class="panel-light">
  <div class="container">
    <div class="row flex-row pt-5 justify-content-center">
      <div class="col-md-6 col-11 card reflections-web-card mt-3 p-1 shadow">
        <h3 class="ui pt-3 text-center"><b>Reflections <i class="fa fa-smile-o"></i></b></h3>
        <div class="p-3">
          <p>Working at DotGo gave me with a introduction to Web Design, Marketing, SEO and Copyrighting. When
            selling websites,
            success ultimately relied on me relaying to
            customers why great UI & UX,
            alongside engaging content,
            is
            essential for every type of business. In doing so, I found that my own passion for UI & UX design grew
            too.
          </p>
        </div>
        <h4 class="text-left pl-3 ui">Key Learnings</h4>
        <span>
          <ul>
            <li>
              <p><b>Clear Vision</b> - I learnt the importance of establishing a clear, shared vision with each
                client, in order to ensure clients were always satisfied with the end result of their websites.</p>
            </li>
            <li>
              <p><b>DotGo System</b> - I had to rapidly come to terms with the DotGo website building system, in order
                to build at the appropriate pace. I strongly belive that learning new things efficiently, is a skill
                that is enhanced through practise.</p>

            <li>
              <p><b>Marketing</b> - Whilst Content Writing, I took on a Marketing role, writing with
                empathy and deploying attention-grabbing phrases to appeal to potential customers.
              </p>
            </li>
            <li>
              <p><b>SEO</b> - In the Frontend, with key search phrases and in the Backend, by adding meta tags to
                images, I became familiar with SEO practises throughout both Dotgo roles.
              </p>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="row flex-row justify-content-end mt-md-3 mt-5 pb-3">
    <div class="col-md-3 col-12 text-right mr-3">
      <h6 class="pointer"> <span (click)="onClick('complements-only')"><i class="fa fa-chevron-left"></i> Previous
          Project
        </span> | <span (click)="onClick('design')"> Back to Design <i class="fa fa-chevron-up"></i></span></h6>
    </div>
  </div>
</div>
<!-- </div> -->
