  <div class="container mt-3">
    <nav class="navbar navbar-expand navbar-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link first"
            routerLink="/home">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLinkActive="pink"
            routerLink="/design">design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLinkActive="pink"
            routerLink="/develop">develop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLinkActive="pink"
            routerLink="/improve">improve</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLinkActive="pink"
            routerLink="/create">create</a>
        </li>
      </ul>
    </nav>
