<div>
  <div class="container">
    <app-nav></app-nav>
    <div class="container-820">
      <div class="row justify-content-center text-center">
        <div class="col-12 text-center">
          <h1 class="mt-5 mb-5 text-secondary"><b>WORK IN PROGRESS
            </b></h1>
          <h3 class="text-secondary">
            This page is currently under construction, but here's a brief introduction...
          </h3>
          <p class="mt-5">
            I have always enjoyed creating new things, whether they take the form of code, T-shirt designs
            or
            new
            business ideas. Over the past few months, I'm especially proud to have created a brand identity, graphic
            designs and the
            website for my new clothing brand <a href="/portfolio/design#co">"Complements Only" </a>.
            <br><br>
            As someone who naturally tries to plan and research as much as possible before starting anything,
            undertaking
            creative projects and working in Agile, has demonstrated to me that it's often essential to make a start,
            fail-fast and trust in
            the creative process,
            rather than planning for the perfect outcome.
            Whilst creating my designs for
            Complements Only, I noticed that with each iteration, the designs often transformed into something different
            and better than what I had
            originally envisioned.
            <br><br>
            I hope that my creative outlook, alongside my meticulous approach and technical abilities,
            will enable me to excel within a new Frontend development role soon.

            <br><br>
            To discuss any opportunities, please <a href="mailto: annabel.hayes@googlemail.com">get in touch for a
              chat!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
