  <div class="container">
    <app-nav></app-nav>
    <div class="container-820">
      <div class="row flex-row">
        <div class="col-lg-8 col-12 text-lg-left text-center">
          <h1 class="mt-5 mb-4"><b>Learning from the Creative Process</b>
          </h1>
          <p>
            As someone who naturally tries to plan and research as much as possible before starting anything,
            undertaking
            creative projects and working in Agile, has demonstrated to me that it's often essential to make a start,
            fail-fast and trust in
            the creative process,
            rather than planning for the perfect outcome.<br><br>
            Whilst creating my designs for
            <a href="/portfolio/design#co">Complements Only </a> I noticed that with each iteration, the designs often
            transformed into something different
            and better than what I had
            originally envisioned.
          </p>
        </div>
        <div class="col-lg-4 col-12 text-center align-self-end mb-2">
          <img class="img-fluid"
            src="assets/images/creative-process.png">
        </div>
      </div>
    </div>
  </div>
  <div class="panel-grey pt-4 pb-4">
    <div class="container">
      <div class="container-820">
      <div class="row mt-4">
        <div class="col-12">
          <h4>Interested in Collaborating?</h4>
          <p>
            I am always open to undertaking work on creative projects and hearing about exciting new ideas. <br><br>
            I hope that my creative outlook, alongside my meticulous approach and technical abilities,
            will enable me to excel within a new Frontend development/design role soon.

            <br><br>
            To discuss any opportunities, please <a href="mailto: annabel.hayes@googlemail.com">get in touch for a
              chat!</a>
            <br>
          </p>
        </div>
      </div>
      <p>
    </div>
  </div>
</div>
