h1 {
  font-size: 58px;
}

.card {
  border-color: rgb(223, 84, 84);
  border-width: 2px;
}
.card-body {
  color: #5C5C5C;
}


.dark{
  color: rgb(20, 20, 20);
}


.card-title {
  color: rgb(20, 20, 20);
  font-size: 22px;
  margin-bottom: 0;
}


@media only screen and (max-width: 768px) {
  .card {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
}


@media only screen and (min-width: 768px) {
  .card {
    max-width: 32.5%;
  }
}
