h1 {
  font-size: 58px;
}

.quote {
  color: #8f8f8f
}

.work-row {
  padding-top: 10%;
}

.badge-ui {
  color: rgb(255, 248, 234)  ;
  background-color: #699EBF;

}
.badge-web {
  color: rgb(255, 248, 234)  ;
  background-color:  rgb(105, 191, 151);
}

.badge-graphic {
  color: rgb(255, 248, 234) ;
  background-color:  #F2B90C;
}


.badge-pink {
  color: rgb(255, 248, 234)  ;
  background-color: rgb(223, 84, 84);
}

.row-2 {
  margin-top: 15%
}

.row-2 {
  margin-top: 12%
}
