<div #top
  class="panel-light">
  <div class="container">
    <app-nav></app-nav>
    <div class="row flex-row justify-content-between mt-3">
      <div class="col-8 align-self-start text-left">
        <h1 class="mb-4"><b>UI & UX, Web and <br>Graphic Design</b></h1>
        <p>
          It's no secret that whether good, bad, ugly or breathtaking, design is <i>everywhere.</i>
          <br>
          <br>
          I am fascinated by the endless applications of design that surround us, as well as learning more about design
          methodologies and research methods. Above all, the opportunity to shape little corners of the world fills me
          with excitement.
          <br>
          <br>
          It's my belief that despite the nuances of every field, our goal as designers remains to not only understand
          users
          needs, but to anticipate them, and elegantly and beautifully meet them.
          <br>
          <br>
        </p>
        <div class="h6 light"><i>—MY WORK</i><br></div>
      </div>
      <div class="col-4 align-self-center">
        <img class="img-fluid"
          src="assets/images/mac.png">
        <small class="light"><i>Sketch from patent filed by Apple Computer Inc 1998-05-06.</i></small>
      </div>
    </div>
    <div class="row flex-row justify-content-between pb-4">
      <div class="card card-ui col-4">
        <div class="card-body">
          <div class="text-center">
            <h5 class="card-title mt-2 mb-1">ICE & Stage</h5>
            <span class="badge badge-ui mr-1">UI & UX Design</span>
            <span class="badge badge-secondary">Frontend</span><br>
            <small class="dark"><b>07/17 - 04/19</b></small>
            <p class="card-text mt-1">Designing and developing a Master Data Management system to enable the music
              societies STIM, GEMA and PRS to collect and store audiovisual data.
            </p>
            <a (click)="scrollToElement(ice)"
              class="dark small pointer">more<i class="fa fa-chevron-down"></i></a>
          </div>
        </div>
      </div>
      <div class="card card-graphic col-4">
        <div class="card-body text-center">
          <h5 class="card-title mt-2 mb-1">Complements Only</h5>
          <span class="badge badge-graphic mr-1">Graphic Design</span>
          <span class="badge badge-web">Web Design</span><br>
          <small class="dark"><b>07/18 - present</b></small>
          <p class="card-text mt-1">Creating graphic artwork, developing a brand identity and designing the website for
            a
            new clothing brand I recently founded.
          </p>
          <a class="dark small pointer"
            (click)="scrollToElement(graphic)">more<i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
      <div class="card card-web col-4">
        <div class="card-body text-center">
          <h5 class="card-title mt-2 mb-1">DotGO</h5>
          <span class="badge badge-web mr-1">Web Design</span>
          <span class="badge badge-secondary mr-1">Sales</span><br>
          <span class="badge badge-secondary mr-1">Copywriting</span><br>
          <small class="dark"><b>07/16-09/16; 10/19-01/20</b></small>
          <p class="card-text mt-1">Selling, designing and implementing custom-built websites for small businesses
            throughout the UK.
          </p>
          <a (click)="scrollToElement(dotgo)"
            class="dark small pointer">more<i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
    <div #ice
      style="visibility: hidden"></div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row flex-row mt-5">
      <div class="col-6">
        <h2 class="unsure"><b>ICE & Stage</b></h2>
        <h4 class="mt-3">Background to ICE</h4>
        <p>ICE was established by the music societies PRS, STIM and GEMA to facilitate collaboration between music
          societies, music publishers and digital service providers (e.g. Spotify, Apple Music, Youtube etc).
        </p>
        <h4 class="pt-3">Project Overview</h4>
        <p>I was involved in the AV Project, which focuses on the use of music in audiovisual productions - such as
          films and TV series. Our team worked to create a “Master Data Management” system for collecting, storing and
          sharing audiovisual data. The high-level purpose of this system is to <b>ensure that composers and songwriters
            are accurately paid for the use of their works in AV productions.</b>
        </p>
      </div>
      <div class="col-6 align-self-end">
        <img class="img-fluid"
          src="assets/images/design-ice-1.png">
      </div>
    </div>
    <div>
      <h4 class="pt-3">My Involvement</h4>
      <p> I worked both remotely and on-site in Berlin for ICE, for <b>20hrs/per week</b>, whilst simultaneously
        completing a degree in History at the University of York.
        <br>
        In April 2019, the project was outsourced from ICE to Stage Enterprises. I then worked for Stage entirely
        remotely until April 2020, when I ceased working on the project in
        order to complete my final exams.
      </p>
    </div>
    <div class="row flex-row card mb-5 mt-3">
      <div class="col-4 text-center">
        <b>Role</b><br>
        Junior Frontend Developer
      </div>
      <div class="col-4 text-center">
        <b>Frontend Team</b><br>
        Christian Porzig (lead)<br>
        Annabel Hayes
      </div>
      <div class="col-4 text-center">
        <b>Duration</b><br>
        07/17 - 04/19
      </div>
    </div>
  </div>
</div>
<div class="panel-blue">
  <div class="container">
    <h3 class="pt-4 unsure"><b>UI & UX Process</b></h3>
    <h4 class="mt-2">1. Identify Common User Actions or “User Scenarios” and Create Storyboards
    </h4>
    <p><b>Example: “a user wishes to match a production with the correct match from a list of possible candidates”
      </b></p>
    <div class="row flex-row">
      <div class="col-12">
        <img class="img-fluid"
          src="assets/images/task6.svg">
      </div>
      <!-- <div class="col-6"></div> -->
    </div>
    <div class="row">
      <div class="col-12">
        <p>After conducting interviews with users and reading through the system
          requirements
          documentation,* we identified simple “user scenarios” that detailed key actions a user might perform.

          From these “user scenarios,” I created basic wireframes (above), in order
          to
          determine how, when and where certain information should be displayed. <br><br><small><i>*Although we worked
              as an Agile
              Scrum
              team, the project was initially set up following a “waterfall” approach.</i></small>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="panel-blue-2">
  <div class="container">
    <div class="pt-4">
      <h4>2. Create Prototypes & Present to Customers</h4>
      <p class="pt-2">Using these very basic wireframes and insights gained from user interviews, I created prototypes
        of screens
        using
        Sketch.

        In the process, we identified design questions and challenges, which we documented, proposed
        potential solutions for, and presented to our customers.<br><br>
        <span class="h6 light"><i>–EXAMPLE DOCUMENTATION</i></span>
    </div>
    <div class="row flex-row mt-4 justify-content-between">
      <div class="col-4">
        <span>
          <h6><b>Scenario</b></h6>
          <p>"A user wishes to match a production with the correct match from a list of possible
            candidates.” (example continued)</p>
        </span>
        <span>
          <h6 class="pt-2"><b>Basic Approach</b></h6>
          <p>Our basic idea for the match conflict user interface is to show the most
            relevant
            information
            of the conflicting production on the left-hand side and a list of the candidates on the right-hand side.
            <br><br>Additionally, there needs to be one button for linking the production to the candidate, as well as
            one
            button
            for creating a new production instead.<br><br> However, this solution raises several questions and
            challenges...</p>
        </span>
      </div>
      <!-- <div class="row no-gutters"> -->
      <!-- <div class="col-1"></div> -->
      <div class="col-8 align-self-start pb-5 pl-5">
        <img class="img-fluid"
          src="assets/images/design-ice-2.png">
      </div>
      <!-- <div class="col-1"></div> -->
    </div>
  </div>
</div>
<div class="panel-blue-2">
  <div class="container">
    <div class="row flex-row pt-1 no-gutters">
      <div class="col-6 pr-4">
        <p><b>Challenges & Proposed Solutions</b></p>
        <p>
          <i>Problem:</i> with a long list of candidates, the last one might be placed with some
          distance from the actual production, making it might be hard to compare the values.
        </p>
      </div>
      <div class="col-6 align-self-end pl-4">
        <p>
          <i>Problem:</i> when the user needs to compare more data fields, the simple view becomes insufficient. How
          can more details
          be displayed on demand?
        </p>
      </div>
    </div>
    <div class="row flex-row no-gutters">
      <div class="col-6 pr-4">
        <p><i>Solution:</i> whenever the user selects a candidate the original production is moved and aligned next to
          in. In order to maintain the object tracking of the user, this is done with an animated transition (see
          below).
        </p>
      </div>
      <div class="col-6 align-self-start mb-3 pl-4">
        <p><i>Solution:</i> there is a “more” button that collapses further production details on demand (see below).
        </p>
      </div>
    </div>
    <div class="row flex-row pb-4">
      <div class="col-6"> <img class="img-fluid pr-4"
          src="assets/images/design-ice-3.gif">
        <span class="small"><i>I created this animation using the AnimateMate plugin for Sketch.</i></span></div>
      <div class="col-6 align-self-start"> <img class="img-fluid pr-4"
          src="assets/images/design-ice-4.png "></div>
    </div>
  </div>
</div>
<div class="panel-blue">
  <div class="container">
    <div class="row flex-row pt-4 no-gutters">
      <h4>3. Develop the Components & Get Feedback from Users</h4>
      <div class="col-6 pt-3">
        <p>We then developed the components deployed them for testing, taking feedback from users. We identified
          bugs that needed to be fixed, as well as enhancements that should be carried out.<br><br></p>
      </div>
      <div class="col-6 text-center align-self-start pt-4"><button (click)="onClick('develop')"
          class="btn-secondary btn-large"> Check Out My
          Development Work <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="panel-light">
  <div class="container">
    <div class="row flex-row pt-5 justify-content-center">
      <div class="col-6 card reflections-ui-card mt-5 p-1">
        <h3 class="ui pt-3 text-center"><b>Reflections <i class="fa fa-smile-o"></i></b></h3>
        <div class="p-3">
          <span>My experience at ICE and Stage was incredibly rewarding. From working in an entirely new city (Berlin),
            to
            tackling difficult design decisions and having to quickly learn new technologies, I was constantly pushed to
            the edge of my comfort
            zone and learnt a vast amount in the process.
          </span>
        </div>
        <h4 class="text-left pl-3 ui">Key Learnings</h4>
        <span>
          <ul>
            <li>
              <p><b>Data Visualisation</b> - Schneiderman's mantra: "Overview first, zoom and filter, then
                details on demand." We used this to guide our design decisions. </p>
            </li>
            <li>
              <p><b>Tools and Technologies</b> - I frequently used Sketch. I was also introduced to the highly useful
                Adobe Colour Picker tool and the Bootstrap CSS Framework. </p>

            <li>
              <p><b>Responsive Design</b> - Amongst my "user stories" was to ensure every page we created was
                responsive, using flex grids and layouts and media queries.</p>
            </li>
            <li>
              <p><b>Time-Management</b> - as I spent 20hrs/week on the project whilst completing my (full-time)
                History degree, I greatly
                developed my ability to effectively manage my time and to work efficiently. I turn, I had loads of time
                leftover to spend having fun with my friends and <a class="pointer"><u>learning new things.</u></a></p>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="row flex-row justify-content-end pt-5">
    <div class="col-3 text-right mr-3">
      <h6 class="pointer"> <span class="graphic"
          (click)="scrollToElement(graphic)"> Next Project <i class="fa fa-chevron-down"></i></span> | <span
          (click)="scrollToElement(top)"> Back to Top <i class="fa fa-chevron-up"></i></span></h6>
    </div>
  </div>
</div>
<div #graphic
  class="pt-4">
  <div class="container">
    <div class="row flex-row justify-content-between">
      <div class="col-3"></div>
      <div class="col-6 align-self-center">
        <img class="img-fluid"
          src="assets/images/co.png">
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row flex-row card mb-2 no-gutters">
      <div class="col-4 text-center">
        <b>Role</b><br>
        Founder, Graphic Designer, Website Designer, anything else you can think of...
      </div>
      <div class="col-4 text-center">
        <b>Team</b><br>
        Annabel Hayes (solo)
      </div>
      <div class="col-4 text-center">
        <b>Duration</b><br>
        07/18 onward
      </div>
    </div>
  </div>
  <div class="row flex-row justify-content-end pt-5">
    <div class="col-3 text-right mr-3">
      <h6 class="pointer"> <span class="web"
          (click)="scrollToElement(dotgo)"> Next Project <i class="fa fa-chevron-down"></i></span> | <span
          (click)="scrollToElement(top)"> Back to Top <i class="fa fa-chevron-up"></i></span></h6>
    </div>
  </div>
</div>
<div #dotgo
  class="panel-yellow pt-2">
  <div class="container">
    <div class="row flex-row justify-content-between mt-5">
      <div class="col-6">
        <h2><b>DotGo</b></h2>
        <h4 class="mt-3">Background to DotGo</h4>
        <p>DotGo is a website builder, offering web design services to businesses throughout the UK.
        </p>
        <h4 class="pt-3">My Involvement</h4>
        <p>I joined DotGo (at the time called Reason8) for a 2 month contract in summer 2016, before I went to
          university. My role
          encompassed Sales, Account Management and Web Design. <br><br>
          I returned to DotGo in 2019 for a 3 month contract as a Content Writer <a class="pointer"><u>(see
              below)</u></a>.
        </p>
      </div>
      <div class="col-6 align-self-end">
        <img class="img-fluid"
          src="assets/images/design-dotgo-1.png">
      </div>
    </div>
    <div class="row flex-row card mb-2 no-gutters">
      <div class="col-4 text-center">
        <b>Role</b><br>
        Sales Rep and Website Designer
      </div>
      <div class="col-4 text-center">
        <b>Team</b><br>
        Yass Sharif<br>
        Annabel Hayes
      </div>
      <div class="col-4 text-center">
        <b>Duration</b><br>
        07/16 - 09/16
      </div>
    </div>
    <div class="row flex-row justify-content-between mt-2">
      <div class="col-12">
        <h4 class="pt-3">Responsibilities</h4>
      </div>
    </div>
    <div class="row flex-row mt-2 mb-2 text-center justify-content-between">
      <div class="col-4">
        <div class="row flex-row justify-content-center">
          <div class="col-6">
            <span class="h5 web card icon-card p-3">
              <i class="fa fa-phone fa-2x">
              </i><br>Sales
            </span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row flex-row justify-content-center">
          <div class="col-6">
            <span class="h5 web card icon-card p-3">
              <i class="fa fa-sitemap fa-2x">
              </i><br>Design
            </span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row flex-row justify-content-center">
          <div class="col-6">
            <span class="h5 web card icon-card p-3">
              <i class="fa fa-edit fa-2x">
              </i><br>Build
            </span>
          </div>
        </div>
      </div>
      <div class="row flex-row">
        <div class="col-4 mt-2">
          <ul>
            <p class="dark">
              <li>I called existing clients and encouraged them to migrate their websites to our new, premium software
                platform.</li>
              <li>
                Success ultimately relied on me relaying to customers why great ui & ux, alongside engaging content, is
                essential for every type of
                business.
              </li>
            </p>
          </ul>
        </div>
        <div class="col-4 mt-2">
          <ul>
            <p class="dark">
              <li>I carried out interviews to gain an in-depth understanding of each client’s business, what content
                they would like producing and what their design
                aspirations were.
              </li>

            </p>
          </ul>
        </div>
        <div class="col-4 mt-2">
          <ul>
            <p class="dark">
              <li>
                I used DotGo’s website builder to create clients more professional-looking, SEO-optimised and modern
                websites.
              </li>
              <li> After revealing client’s new websites, I provided any amendments
                they required.
              </li>
            </p>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="mt-3">Feedback</h4>
        <p>I was very proud that for the majority of my clients, any amendments that were required after the site was
          built were either small or non-existent. I also surpassed my sales targets.
        </p>
      </div>
    </div>
  </div>
  <div class="row flex-row justify-content-end pt-1">
    <div class="col-3 text-right mr-3">
      <h6 class="pointer"> <span class="web"
          (click)="scrollToElement(dotgo2)"> Next Project <i class="fa fa-chevron-down"></i></span> | <span
          (click)="scrollToElement(top)"> Back to Top <i class="fa fa-chevron-up"></i></span></h6>
    </div>
  </div>
  <div #dotgo2
    class="panel-green">
    <div class="container">
      <div class="row flex-row justify-content-between pt-3">
        <div class="col-12">
          <h2 class="unsure"><b>DotGo</b></h2>
          <h4 class="mt-3">Return to DotGo in 2019</h4>
          <p>As the company expanded, operations were split into: Sales, Digital Design and Content Writing, with
            dedicated personnel for each role.
            I returned to DotGo in 2019 for a 3 month contract as a Content Writer, before spending a few amazing months
            skiing.
          </p>
        </div>
      </div>
      <div class="row flex-row card card-dotgo2 mb-2 no-gutters">
        <div class="col-4 text-center">
          <b>Role</b><br>
          Content Writer
        </div>
        <div class="col-4 text-center">
          <b>Team</b><br>
          Nick Stallard<br>
          Annabel Hayes
        </div>
        <div class="col-4 text-center">
          <b>Duration</b><br>
          10/19 - 01/20
        </div>
      </div>
      <div class="row flex-row mb-2 no-gutters">
        <div class="col-6">
          <h4 class="mt-3">Role</h4>
          After reading through client’s and designer’s notes in a shared data area, I called clients’ and carried out a
          detailed content consultation. I then wrote up their content, aiming for 350-500 words/page and interweaving
          key
          primary and secondary SEO phrases throughout.<br><br>
          <b>Key Requirements</b>
          <ul>
            <li>
              Create a consistent “voice” which runs throughout client's content, which fits their business
              and would appeal to potential customers.
            </li>
            <li>Detailed
              analysis of what made each client's business unique and how to sell it.</li>
            <li>
              Research into competitors to gain ideas about the structure and form of the content.
            </li>
          </ul>
        </div>
        <div class="col-6">
          <img class="img-fluid"
            src="assets/images/content-ex.png">
        </div>
      </div>
      <div class="pb-3">
        <h4 class="mt-3">Examples</h4>
        <div class="row flex-row mb-2 mt-1 no-gutters">
          <div class="col-4 text-left">
            <a href="https://www.thebellinnanslow.co.uk/"
              class="pointer dark">
              <u>The Bell Inn Anslow (Pub)</u>
              <i class="ml-2 web fa fa-external-link"></i>
            </a>
          </div>
          <div class="col-4 text-center">
            <a class="pointer"
              href="https://www.optionz.info/"
              class="pointer dark">
              <u>Optionz (Property Investment)</u>
              <i class="ml-2 web fa fa-external-link"></i>
            </a>
          </div>
          <div class="col-4 text-right">
            <a href="https://www.olleywastemanagement.co.uk/"
              class="pointer dark">
              <u>Olley Waste Management</u>
              <i class="ml-2 web fa fa-external-link"></i>
            </a>
          </div>
        </div>
        <small>Please note, I did not design these websites, I just produced the written content. This content may have
          been altered slightly by clients since - so basically, if you spot anything that doesn’t sound right, please
          assume it was not me… ;)
        </small>
      </div>
    </div>
  </div>
  <div class="panel-light">
    <div class="container">
      <div class="row flex-row pt-5 justify-content-center">
        <div class="col-6 card reflections-web-card mt-3 p-1">
          <h3 class="web pt-3 text-center"><b>Reflections <i class="fa fa-smile-o"></i></b></h3>
          <div class="p-3">
            <span>My experience at ICE and Stage was incredibly rewarding. From working in an entirely new city
              (Berlin),
              to
              tackling difficult design decisions and having to quickly learn new technologies, I was constantly pushed
              to
              the edge of my comfort
              zone and learnt a vast amount in the process.
            </span>
          </div>
          <h4 class="text-left pl-3 web">Key Learnings</h4>
          <span>
            <ul>
              <li>
                <p><b>Clear Vision</b> - I learnt the importance of establishing a clear, shared vision with each
                  client, in order to ensure clients were always satisfied with the end result of their websites.</p>
              </li>
              <li>
                <p><b>DotGo System</b> - I had to rapidly come to terms with the DotGo website building system, in order
                  to build at the appropriate pace. I strongly belive that learning new things efficiently, is a skill
                  that is enhanced through practise.</p>

              <li>
                <p><b>Marketing</b> - Especially whilst Content Writing, I took on a Marketing role, writing with
                  empathy and deploying attention-grabbing phrases to appeal to potential customers.
                </p>
              </li>
              <li>
                <p><b>SEO</b> - In the Frontend, with key search phrases and in the Backend, by adding meta tags to
                  images, I became familiar with SEO practises throughout both Dotgo roles.
                </p>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    <div class="row flex-row justify-content-end pt-1 pb-3">
      <div class="col-3 text-right mr-3">
        <h6 class="pointer"> <span class="dark"
            (click)="scrollToElement(top)"> Back to Top <i class="fa fa-chevron-up"></i></span></h6>
      </div>
    </div>
  </div>
</div>
