h1 {
  font-size: 58px;
  font-family: 'Noto Sans KR', sans-serif;
}

.ui {
  /* color:  #D95555; */
  color: #699EBF

}
.web {
  /* color: #699EBF */
  color: rgb(105, 191, 151);

}

.graphic {
  color:  #F2B90C;
}

.light{
  color: #5C5C5C;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col-4 {
  max-width: 32% !important
}

.card-title {
  color: rgb(20, 20, 20);
  font-size: 22px;
  margin-bottom: 0;
}

.card {
  background-color:rgb(255, 248, 234);
  border-color:rgb(226, 221, 212) ;
}

.card-ui {
  background-color: rgb(230, 246, 253);
  opacity: 0.9;

}
.card-web {
  background-color:rgb(220, 247, 233);
  opacity: 0.9;
}
.card-graphic {
  background-color:  rgb(255, 252, 240);
  opacity: 0.9;
}
.card-body {
  color: #5C5C5C;
}

.dark{
  color: rgb(20, 20, 20);
}

.badge-ui {
  color: rgb(255, 248, 234)  ;
  background-color: #699EBF;

}
.badge-web {
  color: rgb(255, 248, 234)  ;
  background-color:  rgb(105, 191, 151);
}

.badge-graphic {
  color: rgb(255, 248, 234) ;
  background-color:  #F2B90C;
}

.panel-light {
  background-color: rgb(255, 248, 234) ;
}

.panel-blue {
  background-color:  rgb(226, 239, 241); ;
}

.panel-blue-2 {
  background-color: rgb(217, 232, 235); ;
}

.panel-green {
  background-color: rgb(232, 247, 232)
}

.full-height {
  height: 100vh;
}

.reflections-ui-card {
  border-color: #699EBF;
}
.reflections-web-card {
   border-color: rgb(105, 191, 151);
  ;
}

.card-dotgo2 {
  background-color:rgb(247, 255, 251);
  opacity: 0.9;
}

.icon-card {
  background-color:  rgb(255, 251, 240);
  border-color: rgb(105, 191, 151);
}

.panel-yellow {
  background-color:  rgb(255, 251, 240);

}
