 <app-nav></app-nav>
 <main>
   <section>
     <div class="container">
       <div class="row flex-row justify-content-between">
         <div class="col-lg-6 col-12 text-lg-left text-center">
           <h1 class="mt-5 mb-4"><b>Self-Improvement</b>
           </h1>
           <p> Whether it's in my coding, design outlook, or hobbies, I
             always strive to challenge and improve myself. </p>
           <h4>Design</h4>
           <p>
             Through my efforts to improve my design skills,
             I've enjoyed reading about typography, psychology and design thinking. Some of my favourite books on these
             topics
             are displayed here.
           </p>
           <h4>Coding</h4>
           <p>Whilst developing this portfolio, I chose to use Angular (despite it being over-kill for a mostly static
             site) in order to further improve my understanding of the framework.
             I became more comfortable with Redux and RxJs, using Reducers, Actions and Selectors to manage application
             state.
             I'm a huge advocate of learning-by-doing and I also learnt how to create SVG animations (visible when
             hovering over links on the <a href="/portfolio/home">home
               page</a>), during the course of this project.<br><br>
           </p>
         </div>
         <div class="col-lg-5 col-12 align-self-end mb-5">
           <img class="img-fluid shadow"
             src="assets/images/books.png">
         </div>
       </div>
     </div>
   </section>
   <section class="panel-grey pt-4 pb-4">
     <div class="container">
         <div class="row mt-4">
           <div class="col-12 text-center">
             <h4>Skateboarding & Skiing</h4>
             <p>
               I also enjoy learning new skills when it comes to my hobbies. Each year when I go skiing,
               I
               always try to master a new trick and during lockdown I have also been trying
               to improve my skateboarding ability. I certainly have the bruises to show for it!
             </p>
           </div>
         </div>
         <div class="row flex-row justify-content-center">
           <div class="col-md-4 col-8">
             <img class="img-fluid"
               src="assets/images/hobbies.png">
           </div>
         </div>
         <div class="row flex-row mt-5 text-center">
           <div class="col-12">
             <a class="btn-sm btn-secondary text-white"
               href="mailto: annabel.hayes@googlemail.com"> Let's Chat!
             </a>
           </div>
         </div>
       </div>
   </section>
 </main>
