<div>
  <div class="container">
    <app-nav></app-nav>
    <div class="container-820">
      <div class="row justify-content-center text-center">
        <div class="col-12 text-center">
          <h1 class="mt-5 mb-5 text-secondary"><b>WORK IN PROGRESS
            </b></h1>
          <h3 class="text-secondary">
            This page is currently under construction, but here's a brief introduction...
          </h3>
          <p class="mt-5">
            Whether it's in my coding, design outlook, or hobbies, I
            always strive to challenge and improve myself. <br><br> Throughout my efforts to improve my design skills,
            I've enjoyed reading about typography, psychology and design thinking.
            <br> Some
            of my favourite books include:
          </p>
        </div>
        <div class="col-6">
          <ul class="pink">
            <li>
              Thinking Fast and Slow - Daniel Kahneman
            </li>
            <li>
              Thinking with Type - Ellen Lupton
            </li>
            <li>
              Black Box Thinking - Matthew Syed
            </li>
            <li>
              Emotional Design - Donald A. Norman
            </li>
            <li>
              The Power of Habit - Charles Duhigg
            </li>
            <br>
          </ul>
        </div>
        <div class="col-12 text-center">
          <p>
            I also enjoy learning and improving on new skills when it comes to my hobbies. Each year when I go skiing, I
            always try to learn a new trick and during lockdown I have also been trying
            to improve my skateboarding ability. I certainly have the bruises to show for it!
          </p>
          <p>Whilst developing this portfolio, I chose to use Angular (despite it being over-kill for a mostly static
            site) in order to further improve my understanding of the framework.
            I became more comfortable with Redux and RxJs, using Reducers, Actions and Selectors to manage application
            state.
            I'm a huge advocate of learning-by-doing and I also learnt how to create SVG animations (visible when
            hovering over links on the <a href="/portfolio/home">home
              page</a>), during the course of this project.<br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
