/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #F2EBDC !important
}

router-outlet~* {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
  color: #F2EBDC !important
}

.card {
  background-color: #F2EBDC !important
}

a {
  text-decoration: none;
}
