<div class="container container-lol">
  <div class="home-links">
    <header>
    <div class="row first-row">
    <div class="col-12 col-md-6 main-title-first-row">
    <h1><span class="main-title">design</span></h1>
     </div>
      <div class="col-12 col-md-6 main-title-first-row">
        <h1>
        <span class="main-title">develop</span>
        </h1>
     </div>
     </div>
     <div class="row">
    <div class="col-12 col-md-6 main-title-second-row">
    <h1>
    <span  class="main-title">improve</span>
     </h1>
     </div>
      <div class="col-12 col-md-6 main-title-second-row">
        <h1><span class="main-title"><span id="cr-1">c</span><span id="cr-2">r</span><span id="ea-1">e</span><span id="ea-2">a</span><span id="te-1">t</span><span id="te-2">e</span></span>
     </h1>
     </div>
     </div>
  </header>
</div>
<div id="footer">
        <footer class="page-footer font-small">
        <div class="footer-container mt-5">
        <hr>
            <div class="row">
               <div class="col-12 text-right">
               <ul class="list-unstyled">
                   <li>
                   <small>07507707125</small>
                   </li>
                    <li>
                   <small>annabel.hayes@googlemail.com</small>
                    </li>
               </ul>
              </div>
            </div>
        </div>
    </footer>
  </div>
